<body ng-controller="toSignin">
     <div class="container-fluid text-center">
         <img class="cartix-icon_" src="Assets/img/letter-logo1.png">

   </div>
   <div class="col-md-3"></div>
   <div class="col-md-6">
    <img src="Assets/img/logo.png" class="anac-logo">
   <p class="text-center">Bienvenue sur la platform web de registration de l’ANAC. Si vous etes un administrateur <a href="#/admin">connecter vous</a>, si
       vous etes un(e) applicant(e) <a href="#/apply">cliquer ici</a> pour faire parvenir vos informations,
       Merci.</p>
    </div>
   <div class="col-md-3"></div>
</body>
